*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main-cont{
    width: 100%;
    height: 100%;
    background-color: #bfc6db23;
}
.form-cont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
@media only screen and (min-width: 280px) and (max-width: 599px) {

    .input-cont{
        width: 270px !important;
    }
    .total-cont{
        margin-right: 57% !important;
    }
}
